{% extends 'base.html' %}

{% block title %}
FAQ
{% endblock %}

{% block content %}



<main class="container">
    <header style="margin-bottom: 2rem;">
        <h1>Frequently Asked Questions (FAQ)</h1>
    </header>

    <section>
        <h2>General Questions</h2>
        <div>
            <h3>What is your return policy?</h3>
            <p>Our return policy allows you to return products within 30 days of purchase for a full refund. The product
                must be in its original condition.</p>
        </div>

        <div>
            <h3>Do you offer free shipping?</h3>
            <p>We offer free shipping on orders over $50. For orders below $50, a small shipping fee will apply
                depending on your location.</p>
        </div>

        <div>
            <h3>How can I track my order?</h3>
            <p>Once your order has shipped, you will receive a tracking number via email. You can use this number to
                track your shipment on our website or the courier's website.</p>
        </div>
    </section>

    <section>
        <h2>Account & Billing</h2>
        <div>
            <h3>How do I create an account?</h3>
            <p>To create an account, click on the "Sign Up" button on the top right of our homepage and fill in your
                details.</p>
        </div>

        <div>
            <h3>How can I reset my password?</h3>
            <p>If you forget your password, click on the "Forgot Password" link on the login page. You will receive an
                email with instructions to reset your password.</p>
        </div>

        <div>
            <h3>Can I update my billing address?</h3>
            <p>Yes, you can update your billing address in the "Account Settings" section after logging in.</p>
        </div>
    </section>

    <section>
        <h2>Product Information</h2>
        <div>
            <h3>Are the products available in different sizes?</h3>
            <p>Yes, many of our products come in various sizes. Please refer to the product page for size options and
                measurements.</p>
        </div>

        <div>
            <h3>How can I know which product is right for me?</h3>
            <p>We provide detailed product descriptions, including specifications and size guides, on each product page.
                If you need further assistance, please contact our customer support.</p>
        </div>
    </section>

    <footer>
        <p>For more questions, please contact us at support@example.com</p>
    </footer>
</main>

{% endblock %}